#home-page-container {
  /* background-color: aquamarine; */
  /* height: 400px; */

  padding: 20px;
  display: flex;
  background-color: rgb(226, 241, 243)
}

.home-card {
  display: flex;
align-self: flex-end;
width: 100%;
padding: 100px;
  
}

h2 {
  padding: 10px;
}


#arrow {
  width: 11px;
 }

 .browse-button {
   width: 25px
 }


.home-photo-container {
  width: 650px;

}

#home-page-container img {
  width: 100%;
}

h1 {
  padding-top: 38px
}