#home-page-container {
  padding: 20px;
  display: flex;
}

.home-card {
  display: flex;
  align-self: flex-end;
  width: 100%;
  padding: 32px;
  position: relative;
  
}

.home-card-text-container {
  z-index: 3;
}

h2 {
  padding: 10px;
}


#arrow {
  width: 11px;
 }

 .home-button {
   display: flex;
   align-items: center;
       background-color: #d1410c;
    background-color: #d1410c;
    border-radius: 100px;
    padding: 12px 16px 12px 18px;
    color: #fff;
    height: 64px;
    font-weight: 600;
    font-size: 16px;
 }


.home-photo-container {
  width: 650px;
  z-index: 4;

}

#home-page-container img {
  width: 100%;
}

h1 {
  
}

#home-head {
    font-size: 24px;
    /* padding-bottom: 4px; */
    color: #f05537;
    font-weight: 800;
    padding-top: 60px;
}

#home-subhead {
  color: #000;
  font-size: 36px;
  font-weight: 800;
  text-align: left;
  width: max-content;
  padding-left: 11px;
  padding-top: 0;
}

#shadow {
      position: absolute;
bottom: 0;
left: 88px;
height: 220px;
background-color: #f6f7fd;
width: 800px;

}

h3.subhead {
  text-align: center;
}