.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;

 
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
      display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.card-image {
  width: 100%;
}

